In [4]:
import sys
sys.path.append('/mnt/c/Users/ransh/Documents/IE University/Year 5/Sem1/MLOps/cern_classifer/')

from loggers.log_factory import setup_logging

log = setup_logging(__name__)

In [10]:
from click.testing import CliRunner
f1 = "../data/raw/train_collision.csv"
f2 = "../data/raw/train_main.csv"
f3 = "../data/interim/train2.csv"
args = [f1, f2, f3]

In [12]:
from data.make_dataset import load_data
runner = CliRunner()
result = runner.invoke(load_data, args)

2023-10-29 18:46:35,506 [INFO] Loading data from ../data/raw/train_collision.csv - module:data_loader

2023-10-29 18:46:35,548 [INFO] Successfully loaded data from ../data/raw/train_collision.csv - module:data_loader
2023-10-29 18:46:35,555 [INFO] Loading data from ../data/raw/train_main.csv - module:data_loader
2023-10-29 18:46:35,572 [INFO] Successfully loaded data from ../data/raw/train_main.csv - module:data_loader
2023-10-29 18:46:35,573 [INFO] Converting raw data into interim data - module:make_dataset
2023-10-29 18:46:35,574 [INFO] Merging data on id - module:make_dataset
2023-10-29 18:46:35,580 [INFO] Successfully merged data on id - module:make_dataset
2023-10-29 18:46:35,734 [INFO] Successfully saved merged data to ../data/interim/train2.csv - module:make_dataset

In [13]:
import pandas as pd
df = pd.read_csv(f3)

In [14]:
df.head()

,id,MR,Rsq,E1,Px1,Py1,Pz1,E2,Px2,Py2,Pz2,HT,MET,nBJets,Run,Lumi,Event,jets
0,2389,628.650,0.003689,344.471,1.97683,-106.3260,258.073,355.6340,5.65705,88.32750,-344.20000,211.617,13.65300,0,148029,389,303441833,trijet
1,9073,238.291,0.018975,270.023,101.12500,46.4665,-245.698,94.0115,-87.19800,-9.75658,-25.68270,199.032,10.47860,0,148029,390,304165218,bijet
2,7406,1047.610,0.002073,NaN,-57.70030,47.2421,425.894,635.2590,70.86140,-20.33610,-630.79900,226.173,25.82460,0,147926,463,498538334,trijet
3,2171,227.925,0.002685,155.943,-102.58900,-5.2552,116.311,112.2300,102.59800,4.14457,4.48955,206.631,1.36038,0,149181,1802,1701550882,trijet
4,12189,207.339,0.039911,158.584,-84.84940,71.5817,-112.407,222.8720,26.13380,-78.36290,-206.39200,193.617,14.76390,0,149181,999,983812818,bijet

In [15]:
from src.preprocessing.data_cleaning import clean_data
df_cleaned = clean_data(df)

2023-10-29 18:46:49,990 [INFO] Starting data cleaning... - module:data_cleaning
2023-10-29 18:46:50,001 [INFO] Fitting SimpleImputer to data... - module:data_cleaning
2023-10-29 18:46:50,041 [INFO] Data cleaning completed successfully. - module:data_cleaning

In [16]:
from src.features.build_features import run_fe
col_to_bucket = ['Lumi']
cols_to_encode = ['Run', 'nBJets', 'Lumi']
df_fe = run_fe(df_cleaned, col_to_bucket, cols_to_encode)

2023-10-29 18:47:00,616 [INFO] Running feature engineering. - module:build_features
2023-10-29 18:47:00,619 [INFO] Creating buckets for train data. - module:build_features
2023-10-29 18:47:00,647 [INFO] Converting columns to categorical for train data. - module:build_features
2023-10-29 18:47:00,682 [INFO] Successfully factorized "jets" column. - module:build_features
2023-10-29 18:47:00,705 [INFO] Feature engineering complete. - module:build_features

In [8]:
from src.models.train_model import build_model
model = build_model(df_fe, 'jets')

2023-10-29 15:39:16,642 [INFO] Starting model building process... - module:train_model
2023-10-29 15:39:16,649 [INFO] Data split into train and validation sets. Train set size: 10334. Validation set size: 2584 - module:train_model
2023-10-29 15:39:16,667 [INFO] Training data scaled successfully. - module:train_model
2023-10-29 15:39:16,686 [INFO] Test data scaled successfully. - module:train_model
2023-10-29 15:39:35,608 [INFO] Random forest classifier trained successfully. - module:train_model
2023-10-29 15:39:35,852 [INFO] Classification report:
              precision    recall  f1-score   support

           0       0.64      0.47      0.54       775
           1       0.78      0.94      0.86      1654
           2       0.60      0.10      0.17       155

    accuracy                           0.75      2584
   macro avg       0.67      0.50      0.52      2584
weighted avg       0.73      0.75      0.72      2584
 - module:train_model
2023-10-29 15:39:35,882 [INFO] Model evaluated successfully. Classification report and metrics saved to reports folder. - module:train_model
2023-10-29 15:39:35,883 [INFO] Model building process completed successfully. - module:train_model
2023-10-29 15:39:35,883 [INFO] Starting model improvement process... - module:train_model

Fitting 5 folds for each of 36 candidates, totalling 180 fits

2023-10-29 15:48:33,559 [INFO] Best parameters found: {'max_depth': 30, 'min_samples_leaf': 1, 'min_samples_split': 2} with accuracy: 0.7575975863743676 - module:train_model
2023-10-29 15:48:33,560 [INFO] Model improvement process completed successfully. Storing model... - module:train_model

In [2]:
from loader.data_loader import data_loader

data_loader('./temp.csv')

2023-10-31 11:53:36,775 [ERROR] Error: File path ./temp.csv does not exist - module:data_loader

/mnt/c/Users/ransh/Documents/IE University/Year 5/Sem1/MLOps/cern_classifer/src

FileNotFoundError: